
/cache
/nbproject
/log
/.idea
/config/databases.yml
/www/uploads/*
/data/sql/*
/lib/filter/doctrine/base/Base*
/lib/filter/doctrine/*Plugin/base/Base*
/lib/form/doctrine/base/Base*
/lib/form/doctrine/*Plugin/base/Base*
/lib/model/doctrine/base/Base*
/lib/model/doctrine/*Plugin/base/Base*