# You can find more information about this file on the symfony website:
# http://www.symfony-project.org/reference/1_4/en/07-Databases

dev:
  doctrine:
    class: sfDoctrineDatabase
    param:
      dsn:      mysql:host=[[host]];dbname=[[db_name]]
      username: [[user]]
      password: [[pass]]
      attributes:
        use_native_enum: true
        
prod:
  doctrine:
    class: sfDoctrineDatabase
    param:
      dsn:      mysql:host=[[test_host]];dbname=[[test_db_name]]
      username: [[test_user]]
      password: [[test_pass]]
      attributes:
        use_native_enum: true
