body
{
    background-image: url('../images/back.png');
    background-repeat: repeat-x;
    margin: 0;
    padding: 0;
}

.center
{
    text-align: center;
    margin: auto;
}

.small
{
    font-size: 10px;
    color: #666666;
}

.clear
{
    clear: both;
}

#header
{
	width: 100%;
	height: 125px;
	background-image: url('../images/logo.png');
	background-repeat: no-repeat;
}

.topline
{
	background-color: #b7d24d;
	width: 100%;
	height: 5px;
}

.carousel-caption a
{
    color: #FFFFFF;
}

.box-partners
{
    text-align: center;
}

.box-partners img
{
    width: 45%;
    margin: 10px 5px 10px 5px;
}

.red
{
    color: #FF0000;
}

.social-buttons
{
    margin-top: 75px;
    float: right;
}

.social-icon
{
    height: 36px;
    width: 37px;
    float: left;
}

.social-icon.facebook
{
    background-image: url('../images/icons/social/facebook.png')
}

.social-icon.facebook:active
{
    background-image: url('../images/icons/social/facebook_pressed.png')
}

.social-icon.twitter
{
    background-image: url('../images/icons/social/twitter.png')
}

.social-icon.twitter:active
{
    background-image: url('../images/icons/social/twitter_pressed.png')
}

.social-icon.flickr
{
    background-image: url('../images/icons/social/flickr.png')
}

.social-icon.flickr:active
{
    background-image: url('../images/icons/social/flickr_pressed.png')
}