.sidebox
{
	background-color: #e6e6e6;
	width: 260px;
	padding: 10px;
	margin-bottom: 10px;
}

.sidebox h1
{
	font-weight: bolder;
	font-size: 18pt;
	color: #595959;
}

.sidebox h2
{
	font-weight: bold;
	font-size: 14pt;
	color: #77a6b5;
}

.sidebox p
{
	color: #595959;
}
