*
{
    margin: 0;
    padding: 0;
    font-family: HelveticaNeue, ActionMan, Verdana, Helvetica, sans-serif;
    font-size: 10pt;
}

a
{
    text-decoration: none;
    color: #77a6b5;
}

a img
{
    border: none;
}

a:hover
{
    color: #adccd6;
}

a:visited
{
    color: #77a6b5;
}

body
{
    background-image: url('../images/back.png');
    background-repeat: repeat-x;
}

#topline
{
    width: 100%;
    height: 5px;
    background-color: #b7d24d;
}

#page
{
    width: 1000px;
    margin: auto;
}

#page .right
{
    width: 280px;
    float: right;
}

#page .left
{
    width: 280px;
    float: left;
}

#page .left .content
{
    width: 688px;
    background-color: #f2f2f2;
    border: solid 1px #d5d5d5;
    padding-bottom: 16px;
    color: #595959;
    padding: 0px 10px 10px 10px;
}

#page .left .content h1
{
    font-weight: normal;
    font-size: 60px;
    color: #cfbba1;
}

.center
{
    text-align: center;
}

.small
{
    font-size: 9pt;
    font-weight: normal;
    color: #888888 !important;
}

.clear
{
    clear: both;
}
